doctype html
html
  include includes/head.pug
  body
    .container
      .row
        .col-12
          .player
            | RADIO&nbsp;
            <div id="play">
              <input type="checkbox" value="None" id="playpause" name="check" />
              <label for="playpause" tabindex=1></label>
            </div>
            <input id="volume-control" type="range" value="20">
      .row
        .col-12.col-md-6
          <b>Задачи:</b>
          <ul>
            <li>Gulp проект этой страницы</li>
            <li>Перевод HTML на Pug</li>
            <li>React, Redux</li>
            <li>Вести проект
              <a href="https://github.com/gk061090/gk-jekyll">Jekyll</a>
            </li>
            <li>freeCodeCamp</li>
          </ul>
        .col-12.col-md-6
          include includes/vk.pug 